.header {
  grid-area: header;
  display: grid;
  grid-template-areas: "header honey";
  grid-template-columns: 1fr 1150px;
  background-color: rgba(255, 239, 228, 0.76);
  margin-top: 10px;
  border: rgba(133, 5, 5, 0.97) 1px solid;
  border-radius: 5px;
}
